# Table of Contents <a class="anchor" id="top"></a>

- [Introduction & Background](#intro)
- [Load Data](#1)
- [Inspecting the Data](#2)
- [Clean Data](#3)
- [Appendix](#app)

### Introduction & Background <a class="anchor" id="intro"></a>

Welcome to my analysis of LA's current homes for sale!

Using Webscraper.io, I scraped data from 838 active listings from Redfin.com.  Due to information placement variation, I had to scrape 3 separate files based on property type: single family, townhouse and condo. To no surprise, the dataset was a bit messy and required some in-depth wrangling and tidying. 

My progress so far has involved loading, inspecting and cleaning the data. This has been SO much more fun than using a dataset from Kaggle, and I definitely plan on using Webscraper.io for my next project. 

Enjoy!

#### [Previous: Top](#top)      |      [Next: Loading the Data](#1)

### Loading the Data <a class="anchor" id="1"></a>

Now that the webscraping is complete, I can load the datasets into this notebook. 

Tasks:
- Import libraries
- Import datasets
- Filter warnings
- Set the option to see all columns
- Create labels for each dataset based on property type
- Concatenate the datasets 
- Reset the index

#### [Previous: Introduction & Background](#intro)      |      [Next: Inspecting the Data](#2)

In [1]:
#import libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#import datasets
houses = pd.read_csv('redfin_la_singlefamily.csv')
condos = pd.read_csv('redfin_la_condo.csv')
townhouses = pd.read_csv('redfin_la_townhouse.csv')

#filter output warnings
import warnings
warnings.filterwarnings('ignore')

# see all columns
pd.set_option('display.max_columns', None)

In [3]:
#create labels for each dataset
houses['type'] = 'house'
condos['type'] = 'condo'
townhouses['type'] = 'townhouse'

#confirm fields match prior to concatenation
if houses.columns.all() == condos.columns.all() and condos.columns.all() == townhouses.columns.all():
    print('Fields match! Ready to concatenate!')
else:
    print('Fields do match! Cannot concatenate!')

Fields match! Ready to concatenate!

In [4]:
#concatenate datasets
listings = pd.concat([houses,condos,townhouses])

#reset index
listings.reset_index(inplace=True, drop=True)

### Inspecting the Data <a class="anchor" id="2"></a>

Now that the data is concatenated I can inspect the dataset and determine the tidying that needs to be done.

Immediate insights:
- There are 26 columns & 837 records
- Numerous columns have null values
- 'Object' is the most prevalent datatype

Unfortunately I won't be able to use some of the fields I was hoping for \['parking', 'pool', 'lot_size', 'school_dist', 'zoning'\] but luckily there is plenty of great data to explore!

#### [Previous: Loading the Data](#1)      |      [Next: Data Cleaning](#3)

In [5]:
#check columns
listings.columns

Index(['web-scraper-order', 'web-scraper-start-url', 'pagination', 'link',
       'link-href', 'address', 'price', 'beds', 'baths', 'sqft', 'DOM', 'year',
       'lot_size', 'estimate', 'est_monthly_payment', 'parking', 'pool',
       'school_dist', 'zoning', 'views', 'favorites', 'outs', 'walk_score',
       'transit_score', 'bike_score', 'hoa_dues', 'type'],
      dtype='object')

In [6]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 837 entries, 0 to 836
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   web-scraper-order      837 non-null    object
 1   web-scraper-start-url  837 non-null    object
 2   pagination             0 non-null      float64
 3   link                   1 non-null      object
 4   link-href              837 non-null    object
 5   address                837 non-null    object
 6   price                  837 non-null    object
 7   beds                   837 non-null    object
 8   baths                  837 non-null    float64
 9   sqft                   837 non-null    object
 10  DOM                    837 non-null    object
 11  year                   837 non-null    int64
 12  lot_size               831 non-null    object
 13  estimate               837 non-null    object
 14  est_monthly_payment    837 non-null    object
 15  parking                837 non-null    object
 16  pool                   837 non-null    object
 17  school_dist            831 non-null    object
 18  zoning                 471 non-null    object
 19  views                  837 non-null    object
 20  favorites              837 non-null    object
 21  outs                   837 non-null    int64
 22  walk_score             837 non-null    object
 23  transit_score          802 non-null    object
 24  bike_score             837 non-null    object
 25  hoa_dues               489 non-null    object
 26  type                   837 non-null    object
dtypes: float64(2), int64(2), object(23)
memory usage: 176.7+ KB

In [7]:
listings.head()

,web-scraper-order,web-scraper-start-url,pagination,link,link-href,address,price,beds,baths,sqft,DOM,year,lot_size,estimate,est_monthly_payment,parking,pool,school_dist,zoning,views,favorites,outs,walk_score,transit_score,bike_score,hoa_dues,type
0,1638406000-232,https://www.redfin.com/city/11203/CA/Los-Angel...,NaN,NaN,https://www.redfin.com/CA/Sherman-Oaks/14811-J...,"14811 Jadestone Dr,","$2,750,000.00",5,4.5,"4,038",Time on Redfin4 days,1963,Sherman Oaks,"$2,768,036.00","$12,459.00",4,Roof: Tile,Assessor Parcel Number: 2278-031-006,NaN,"2,012",101,6,2 / 100,0 / 100,2 / 100,NaN,house
1,1638406488-342,https://www.redfin.com/city/11203/CA/Los-Angel...,NaN,NaN,https://www.redfin.com/CA/Tarzana/4910-Brewste...,"4910 Brewster Dr,","$2,999,999.00",6,6.5,"6,209",Time on Redfin29 hours,1961,0.71 Acres,"$2,983,851.00","$13,591.00",Attached Garage,Pool Features: Private,High School District: Los Angeles Unified,NaN,586,19,0,18 / 100,29 / 100,11 / 100,NaN,house
2,1638406569-374,https://www.redfin.com/city/11203/CA/Los-Angel...,NaN,NaN,https://www.redfin.com/CA/Beverly-Hills/9959-W...,"9959 Westwanda Dr,","$1,695,000.00",2,2.0,"1,295",Time on Redfin18 hours,1964,Beverly Hills Post Office,"$1,668,405.00","$7,679.00","Gas/Electric Range, Cooktop - Gas, Oven, Micro...",Amenities: None,No Mello-Roos Tax,Attached,559,21,3,1 / 100,0 / 100,1 / 100,NaN,house
3,1638406417-314,https://www.redfin.com/city/11203/CA/Los-Angel...,NaN,NaN,https://www.redfin.com/CA/Los-Angeles/8736-Elm...,"8736 Elm St,","$490,000.00",3,1.0,792,Time on Redfin2 days,1924,"3,351 Sq. Ft.","$492,510.00","$2,220.00",None,High School District: Los Angeles Unified,Assessments: Unknown,NaN,503,22,1,75 / 100,54 / 100,62 / 100,NaN,house
4,1638406349-289,https://www.redfin.com/city/11203/CA/Los-Angel...,NaN,NaN,https://www.redfin.com/CA/Granada-Hills/11955-...,"11955 Nugent Dr,","$1,549,000.00",5,3.0,"3,301",Time on Redfin3 days,1984,GH - Granada Hills,"$1,598,643.00","$7,018.00","Dishwasher, Garbage Disposal, Refrigerator, Do...",Barbecue Private,Common Walls: No Common Walls,Has Parking,"2,092",90,2,5 / 100,17 / 100,2 / 100,NaN,house

### Cleaning the Data <a class="anchor" id="3"></a>

Lots of cleaning to do here...does anybody have a broom?

**Chores** (by field):
- Extract neighborhood & zip code from `link-href` field and create new corresponding fields
- Remove comma from `address` field
- Remove dollar sign and comma from `price` field and convert to numeric datatype
- Convert both `beds` and `baths` fields to numeric datatype
- Remove comma from `sqft` field and convert to numeric datatype
- Extract number from `DOM` field to reflect days, replace values with 'hours' to 1 and convert to numeric datatype, change field to lowercase
- Remove dollar sign and commas from `estimates` field and convert to numeric datatype
- Remove dollar sign and commas from `est_monthly_payment` field and convert to numeric datatype
- Convert `views`, `favorites`, `outs` to numeric datatypes
- Extract numerators from `walk_score`, `transit_score`, `bike_score` fields and convert to numeric datatype
- Convert null values in `transit_score`, `hoa_dues` fields to 0
- Drop redundant/useless columns

####  [Previous: Inspecting the Data](#2)  |  [Next: Appendix](#app)

In [8]:
#extract and create neighborhood field
listings['link-href'] = listings['link-href'].str.replace('https://www.redfin.com/CA/', '')
listings['neighborhood'] = listings['link-href'].apply(lambda x: x.split('/')[0])
listings['neighborhood'] = listings['neighborhood'].str.lower().str.replace('-', '_')

In [9]:
#extract and create zipcode field
z = listings['link-href'].str.split('/', expand=True)
listings['zip_code'] = z[1].str[-5:]

In [10]:
#remove commas from address field
listings['address'] = listings['address'].str.replace(',', '')

In [11]:
#remove dollar signs and commas from price field then convert to numeric
listings['price'] = listings['price'].str.replace('[\$,]', '', regex=True)
listings['price'] = pd.to_numeric(listings.price)

In [12]:
#convert beds/baths to numeric
listings.beds = listings.beds.replace('[\D]', '0', regex=True)
listings['beds'] = pd.to_numeric(listings.beds)
listings.baths = listings.baths.replace('[\D]', '0', regex=True)
listings['baths'] = pd.to_numeric(listings.baths)

In [13]:
#remove comma from sqft field and convert to numeric
listings['sqft'] = listings['sqft'].str.replace(',', '')
listings['sqft'] = pd.to_numeric(listings.sqft, errors='coerce')

In [14]:
listings[listings['sqft'].isnull()]

,web-scraper-order,web-scraper-start-url,pagination,link,link-href,address,price,beds,baths,sqft,DOM,year,lot_size,estimate,est_monthly_payment,parking,pool,school_dist,zoning,views,favorites,outs,walk_score,transit_score,bike_score,hoa_dues,type,neighborhood,zip_code
88,1638406469-334,https://www.redfin.com/city/11203/CA/Los-Angel...,NaN,NaN,Los-Angeles/4910-S-Centinela-Ave-90066/home/17...,4910 S Centinela Ave,1650000.0,3,3.5,NaN,Time on Redfin30 hours,2021,Culver City,"$1,652,087.00","$7,475.00",3,Patio Features: Roof Top Deck,Water: In Street,Detached/No Common Walls,320,15,2,74 / 100,47 / 100,74 / 100,NaN,house,los_angeles,90066
291,1638406483-340,https://www.redfin.com/city/11203/CA/Los-Angel...,NaN,NaN,Los-Angeles/4912-S-Centinela-Ave-90066/home/67...,4912 S Centinela Ave,1550000.0,3,3.5,NaN,Time on Redfin29 hours,2021,Culver City,"$1,560,952.00","$7,022.00",3,Patio Features: Roof Top Deck,Water: In Street,Detached/No Common Walls,452,30,0,74 / 100,47 / 100,74 / 100,NaN,house,los_angeles,90066

#### Encountering null values

I came across 2 reocords that did not have a listed square footage, which upon further investigation is due to the fact that they are newly built and perhaps they have not been assessed yet. Instead of dropping them or replacing the null values with the dataset average, I decided to replace them with a calculated average based on their relative bed/bath counts. 

More precise averages = cleaner data!

In [15]:
#applying avg price per sqft to record 88 and 291
avg_sqft = listings[(listings['beds'] == 3) & (listings['baths'] == 3.5)].sqft.mean()
listings.at[88, 'sqft'] = int(avg_sqft)
listings.at[291, 'sqft'] = int(avg_sqft)

#### Handling different time measurements

`DOM` stands for 'days on market' so I will make sure the values follow that format. Due to the fact that some of the values were listed on the day I scraped them, they are reflected as number of hours or minutes. The best approach here would be to round them up to 1 day. This is done below using a function I created.

In [16]:
#extract number of days from 'DOM' field
listings['DOM'] = listings['DOM'].str.replace('Time on Redfin', '')

#function to convert values less than 1 day into 1 day
def one_day(value):
    if ' hours' in value or ' minutes' in value:
        return '1'
    else:
        return value.split(' ')[0]
    
listings['DOM'] = listings['DOM'].apply(one_day)

#convert to numeric
listings['DOM'] = pd.to_numeric(listings['DOM'])

#

In [17]:
#drop chars from estimate field
listings['estimate'] = listings['estimate'].str.replace('[\$\%,]', '', regex=True)

#convert to numeric
listings['estimate'] = pd.to_numeric(listings.estimate)

listings.estimate.value_counts()

2.0          13
2.5          10
563.0         2
581.0         2
3486810.0     1
             ..
1376741.0     1
969605.0      1
1331156.0     1
1149674.0     1
1026690.0     1
Name: estimate, Length: 814, dtype: int64

#### Encountering incorrect values

There seems to be quite a few records in the `estimates` field that are holding incorrect values. I'd like to have a valid estimate for these records, so I will create a for loop that returns an estimate based on the average price per square foot filtered by zip code.

Again, more precise estimates = better data!

In [18]:
for i in range(len(listings)):
    zip_code = listings.loc[i, 'zip_code']
    total_est = listings[listings['zip_code'] == zip_code]['estimate'].sum()
    total_sqft = listings[listings['zip_code'] == zip_code]['sqft'].sum()    
    avg_est_per_sqft = (total_est/total_sqft) / (len(listings))
    if listings['estimate'][i] < 100000:
        listings.at[i, 'estimate'] = avg_est_per_sqft * listings.at[i, 'sqft']
    else:
        continue

In [19]:
#remove dollar signs and commas from est_monthly_payment
listings['est_monthly_payment'] = listings['est_monthly_payment'].str.replace('[\$,]', '', regex=True)
listings['est_monthly_payment'] = pd.to_numeric(listings.est_monthly_payment)

In [20]:
#views/favorites/outs metrics

#convert page visitor metrics to numeric
listings['views'] = listings['views'].str.replace(',', '')
listings['views'] = pd.to_numeric(listings['views'])

listings['favorites'] = listings['favorites'].astype(str).str.replace('[\',]', '', regex=True)
listings['favorites'] = pd.to_numeric(listings['favorites'])

listings['outs'] = listings['outs'].astype(str).str.replace(',', '')
listings['outs'] = pd.to_numeric(listings['outs'])

In [21]:
#walk/bike/transit scores

#extract numerators 
listings['walk_score'] = listings['walk_score'].str.split(' ', expand=True)[0]
listings['transit_score'] = listings['transit_score'].str.split(' ',expand=True)[0]
listings['bike_score'] = listings['bike_score'].str.split(' ', expand=True)[0]

#fill null values to 0
listings = listings.fillna(value = {'walk_score': 0, 'transit_score': 0, 'bike_score': 0})

#convert datatypes to int
listings['walk_score'] = listings['walk_score'].astype(int)
listings['transit_score'] = listings['transit_score'].astype(int)
listings['bike_score'] = listings['bike_score'].astype(int)

Null values within the above scores are converted to zeroes which are reflective of their true scores.

In [22]:
#extract number from hoa dues
listings['hoa_dues'] = listings['hoa_dues'].str.replace('[\D]', '', regex=True)

#fill null values with 0
listings = listings.fillna(value = {'hoa_dues': 0})

#convert to numeric
listings['hoa_dues'] = listings['hoa_dues'].astype(int)

Null values are present in the `hoa_dues` field for a large number of records due to the fact that single family homes are not associated with HOAs. As a result, these null values are converted to zeroes.

In [23]:
#column adjustments

#drop redundant columns
listings = listings.drop(['pagination', 'web-scraper-order', 'web-scraper-start-url', 'link', 'link-href', 'lot_size', 'parking', 'pool', 'school_dist', 'zoning'], axis=1)

#convert DOM column to lowercase
listings.columns = listings.columns.str.lower()

#reorder columns
listings = listings[['address', 'neighborhood','zip_code', 'type', 'price', 'beds', 'baths', 'sqft', 'dom', 'year', 'estimate',
       'est_monthly_payment', 'views', 'favorites', 'outs', 'walk_score', 'transit_score', 'bike_score', 'hoa_dues']]

In [24]:
#recheck info
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 837 entries, 0 to 836
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              837 non-null    object
 1   neighborhood         837 non-null    object
 2   zip_code             837 non-null    object
 3   type                 837 non-null    object
 4   price                837 non-null    float64
 5   beds                 837 non-null    int64
 6   baths                837 non-null    float64
 7   sqft                 837 non-null    float64
 8   dom                  837 non-null    int64
 9   year                 837 non-null    int64
 10  estimate             837 non-null    float64
 11  est_monthly_payment  837 non-null    float64
 12  views                837 non-null    int64
 13  favorites            837 non-null    int64
 14  outs                 837 non-null    int64
 15  walk_score           837 non-null    int64
 16  transit_score        837 non-null    int64
 17  bike_score           837 non-null    int64
 18  hoa_dues             837 non-null    int64
dtypes: float64(5), int64(10), object(4)
memory usage: 124.4+ KB

Awesome! The data is now ready for some insights. I will have this notebook updated soon with the next few sections.

### Appendix <a class="anchor" id="app"></a>

#### Fields Explanations

- `Type`: indicates one of three property types (single family, townhouse, condo)

- `Price`: listing (sale) price
- `Sqft`: size of interior in square feet
- `DOM`: days on market
- `Year`: year built
- `Estimate`: Redfin's estimated value of the property
- `Est_Monthly_Payment`: The estimated monthly housing expenses including mortgage principal + interest, insurance, property taxes, maintenance and fees
- `Views`: # of times page has been viewed
- `Favorites`: # of users who have 'favorited' the property
- `Outs`: # of users who disliked the property
- `Walk_score`: indicates the proximity to nearby amenities based on walking distance
    - [Walk Score Methodology](https://www.walkscore.com/bike-score-methodology.shtml)
- `Transit_score`: indicates the proximity to public transportation
    - [Transit Score Methodology](https://www.walkscore.com/transit-score-methodology.shtml)
- `Bike_score`: indicates how well the surrounding area accomodates biking
    - [Bike Score Methodology](https://www.walkscore.com/bike-score-methodology.shtml)


#### [Jump to Top](#top)